<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-toolbar :color="ans.flat().reduce((x, y) => x + y) > 0 ? 'primary' : 'success'" dark>
          <v-toolbar-title>
            Picross
          </v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-title>
            {{ans.flat().reduce((x, y) => x + y) > 0 ? '' : 'Congratulations!'}}
          </v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-container>
          <v-card class="pb-3">
            <v-row>
              <v-col>
              </v-col>
              <v-col md="auto">
                  <table>
                    <tr>
                      <td></td>
                      <td
                      v-for="i in 8"
                      style="vertical-align: bottom;"
                      >
                        <span
                        v-for="j in counted.y[i-1]"
                        >
                          <v-btn
                            class="ma-1"
                            :fab="fab"
                            text
                          >
                          {{j}}
                          </v-btn>
                          <br>
                        </span>
                      </td>
                    </tr>
                    <tr v-for="(x, i) in c" :key="i">
                      <td style="text-align: right;">
                        <v-btn
                          v-for="j in counted.x[i]"
                          class="mx-1"
                          :fab="fab"
                          text
                        >
                          {{j}}
                        </v-btn>
                      </td>
                      <td
                        v-for="(y, j) in x"
                        :key="j"
                        >
                        <v-btn
                          depressed
                          :color="y == 1 && solved[i][j] == 1 ? 'primary' : ''"
                          class="ma-1"
                          @click="check(i, j)"
                          :fab="fab"
                        >
                        {{solved[i][j] == 1 && c[i][j] == 1 ? y : solved[i][j] == 1 && c[i][j] == 0 ? 'x' : ''}}
                        </v-btn>
                      </td>
                    </tr>
                  </table>
              </v-col>
              <v-col></v-col>
            </v-row>
            <!-- <code>
              {{ans}}
              {{ans.flat().reduce((x, y) => x + y)}}
            </code> -->
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn fab depressed color="error" @click.native="reset()"><v-icon>mdi-delete</v-icon></v-btn>
              <!-- <v-btn color="info" @click.native="fab = !fab">Toggle FAB</v-btn> -->
              <v-btn fab depressed color="success" @click.native="refresh()"><v-icon>mdi-refresh</v-icon></v-btn>
            </v-card-actions>
          </v-card>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./script.js"></script>
</body>
</html>
